*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: -webkit-gradient(linear, left top, left bottom, from(#575352), to(#28272C)) fixed;
  background: linear-gradient(180deg, #575352 0%, #28272C 100%) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'roboto';
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
}

.header {
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 5;
}

.menu {
  width: 75%;
  height: 100%;
  top: 0;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.95);
  padding-top: 18px;
  padding-left: 22px;
  z-index: 6;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.menu__img {
  border-radius: 6px;
}

.menu__profile {
  display: block;
  color: lightgray;
  font-size: 18px;
  margin-bottom: 60px;
}

.menu.menu--active {
  left: 0;
}

.string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.string__namebar {
  text-align: right;
  height: 30px;
  width: 100%;
  background-color: #26252A;
  padding-top: 5.5px;
  padding-right: 6px;
  font-size: 14px;
  line-height: 18px;
  color: #47464B;
  margin-right: 8px;
}

.string__hamburger {
  border: none;
  height: 30px;
  width: 38px;
  background-color: #26252A;
}

.string__hamburger:active {
  background-color: #FFD339;
}

.string__img {
  height: 11px;
  width: 16.5px;
  margin: -1px auto;
}

.string .string__hamburger--active {
  background-color: #FFD339;
}

.logo-main {
  text-align: center;
}

.logo__img {
  width: 150px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}

.progress__img {
  height: 55px;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 12px;
}

.btn-main {
  height: 30px;
  width: 27vw;
  background-color: #EBEBEB;
  border: none;
  border-radius: 2px;
  padding: 6px 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #47464B;
}

.btn-main:hover {
  background-color: gold;
}

.btn-main--active {
  background-color: #FFD339;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.list-places {
  height: 62vh;
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list-places__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 17px;
  margin-bottom: 25px;
}

.list-places__item {
  width: 43.5vw;
  position: relative;
}

.list-places__link {
  width: inherit;
  height: inherit;
}

.list-places__img {
  width: 100%;
  display: block;
}

.list-places__dist {
  position: absolute;
  width: 68px;
  height: 15px;
  margin-top: -20px;
  left: 8px;
  background-color: #F57E20;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding: 0 13px;
  text-align: center;
}

.list-places__text {
  font-size: 12px;
  font-weight: 300;
  height: 45px;
  background-color: #26252A;
  border-top: none;
  padding: 7px 22px 24px;
  position: relative;
}

.list-places__text::before {
  content: '';
  position: absolute;
  left: 9px;
  background-image: url("../img/marker.svg");
  background-size: cover;
  width: 8px;
  height: 10px;
}

.list-places__item--open {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 17px;
}

.place-item {
  padding: 0 19px;
}

.place-item__status-inner {
  display: block;
}

.place-item__stat-text {
  color: #FFD339;
  position: relative;
  text-align: center;
  padding-bottom: 7px;
  font-weight: 300;
  font-size: 14px;
}

.place-item__stat-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #FFD339;
}

.place-item__descr {
  float: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

iframe {
  margin-top: 5px;
  height: 500px;
}

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #575352;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 7px;
}

.footer__btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__btn-option {
  width: 120px;
  height: 33px;
  font-size: 18px;
  background: #EBEBEB;
  text-align: center;
  padding: 7px;
  color: #000;
}

@media (min-width: 768px) {
  .list-places__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
  }
  .list-places__item {
    width: 30vw;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */